<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrafnskogr.stracerv">

    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--@
        <receiver android:name=".startStracerv" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <receiver android:name=".startStracerv">
            <intent-filter>
                <action android:name="com.hrafnskogr.stracerv.STRACE" />
            </intent-filter>
        </receiver>
-->
        <service
            android:name=".stracerv"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>